@media (max-width: 390px)  {
    .menu {
        margin-top: 30px;
    }

    header .menu a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 5px;
        font-size: 1em;
    }

    header h3 {
        font-size: 2.4em;
    }
    .letrav {
        font-size: .5em;
    }
}

/*-----------------------------------------*/


@media (min-width: 768px) and (max-width: 1200px){
    header .menu a {
        margin-top: 1px;
        font-size: 2em;
        margin-left: 10px;
    }
}

/*-------------------------------------------------*/

@media (min-width: 1024px) and (max-width: 1980px) {
    header .menu a {
        margin-top: 1px;
        font-size: 3em;
        margin-left: 20px;
    }
}

/*---------------------------------------------------------*/

@media (min-width: 1980px) {

}