:root {
    --netflix-red: #E50914;
    --netflix-black: #000000;
    --netflix-dark-gray: #221F1F;
    --netflix-light-gray: #B3B3B3;
    --netflix-white: #FFFFFF;
  }
  


@media (min-width: 481px) {
    section {
        width: 390px;
        height: 860px;
        margin-top:240px;
        border-radius: 5px;
        border: 1px solid #303030;
    }
}

.letrassup::before {
    background-size: center ;
    margin-left: 1.3%;
}